*{
  font-family:'Times New Roman', Times, serif;
}

.dropdownbutton {
    padding: 8px;
    font-size: 16px;
    border-radius:5px;
    background-color: #19bd66;
    color: white;
    border:none;
    cursor: pointer;
  }
  

  .dropdowninfo {
    min-width: 150px;
    z-index: 1;
    display: none;
    position: absolute;
    display: block;

  }

  .dropdowninfo a {
    color: black;
  }
  
  .dropdowninfo a:hover {
    background-color: #ddd;
  }
  .dropdown, .dropdowninfo a {
    cursor: pointer;
  }
  