

  /*.borderbox{
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 25px;
    width:90%;
    margin-left:5%;
    height:auto;
    padding:5%;
    border:3px solid #000000;
    background-color: whitesmoke;
  }*/
  .circle {  
    width: 15px;
    height: 15px;
    border-radius: 50%;   
  }
  
  .green {
    background-color: green;
    margin-top:-35%;
    margin-left:35%;
  }
  
  .red {
    background-color: red;
    margin-top:-2.6%;
    margin-left:45%;
    
  }

  .Barchart {
    float: left;
  }
  
  .blood-counts {
    float: left;
    margin-left: 20px;
  }
  
  .bloodcount {
    margin-bottom: 10px;
  }
  
  .bloodtype {
    margin-right: 5px;
  }
  
  .bloodlabels {
    width: 100px;
  }
  
  .infotwo{
    margin-left:47%;
    margin-top:-1.4%;
    color:gray;
    font-size: smaller;

  }
  .infoone{
    margin-left:37%;
    margin-top:-1.4%;
    color:gray;
    font-size: smaller;
  }
  .Barchart{
    margin-left:15%;
    margin-top:-1%;
    
  }

.bar{
  width:20%;
}
 

  .IncrementDecrementButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top:25%;
    margin-bottom:5%;
  }
  
  .IncrementDecrementButtons > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
  }

  .btn1{
    margin-top:2%;
    margin-left:80%;
    margin-bottom:0.5%;
  }
  .btn2{
    margin-left:80%;
    width:12.6%;
  }
  h3{
    margin-top:-5px;
    margin-bottom:4%;
  }
.bloodcount{
  margin-top:2%;
  margin-bottom:1%;

}
.Bloodtypetext{
  color:grey;
  margin-top:-1%;
  font-size: smaller;
  margin-left:37%;
}
.frequencytext{
  color:grey;
  font-size: smaller;
  margin-left:18%;
  margin-top:7%;
  width:10%;
}


.submit {
  color: rgb(255, 255, 255);
  border-radius:22px;
  border: 2px solid rgb(0, 0, 0);
  padding:8px;
  background-color: black;
  font-size:15px;
  margin-left: -140%;
 margin-top:5%;

}
.submit:hover {
  background-color: gray;
  color: white;
}
.heading{  
  margin-top:0.5%;
}
.bloodtypes{
  margin-right:5%;
}
@media only screen and (max-width: 426px) {
  .borderbox{
   width:890px;
  }
  .Barchart{
    margin-left:-2%;
  }
  .key{
    margin-left:82%;
    margin-top:-65%;
  }

  .IncrementDecrementButtons {

    margin-top:50%;
    margin-bottom:5%;
  }

  .bloodtypes{
    margin-right:9%;
  }
  input[type="number"]{
     width:10px;
   }
}