
.dashboardinfo {
  font-size: 18px;
  margin-top: 20px;
  margin-left:-2%;
}


.background{
  background-image: url('images/dashboarddonor.webp');
  height:568px;
  opacity:0.6;
}

.list{
  list-style-type: none;
  color:rgb(0, 0, 0);
  padding:0px;
  margin:2%;
  font-size:13px;
}

.subheading{
  justify-self: center;
  margin-top:2%;
  margin-left:27%;
  font-size:27px;
}

.finalheading{
  margin-bottom:4%;
  margin-top:6%;
  margin-left:28%;
  font-size:18px;
  color:rgb(5, 5, 5);
  font-weight: bold;
}

.firstheading{
  margin-top: 12px;
  margin-left:35%;
  color:grey;
  font-size:30px;
}

.leftcolumn1{
  margin-top:-7%;
  margin-left:30%;
  border-radius: 10px;
  width:20%;
  font-weight: bold;
  height:100px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border: 1px solid rgb(224, 221, 221);
}

.leftcolumn2{
  margin-top:-3%;
  margin-left:65%;
  
}

.rightcolumn1{
  margin-top:4%;
  margin-left:30%;
  border-radius: 10px;
  width:20%;
  font-weight: bold;
  height:100px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border: 1px solid rgb(224, 221, 221);
}



.rightcolumn2{
  margin-top:-19.5%;
  margin-left:55%;
  width:20%;
  font-weight: bold;
  border-radius: 10px;
  height:100px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border: 1px solid rgb(224, 221, 221);

}

.middlecolumn1{
  margin-top:15%;
  margin-left:30%;
  width:20%;
  border-radius: 10px;
  font-weight: bold;
  height:100px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border: 1px solid rgb(224, 221, 221);
}

.innertext{
  color:gray;
  font-weight:lighter;
}

.middlecolumn2{
  margin-top:-19%;
  margin-left:55%;
  width:20%;
  border-radius: 10px;
  font-weight: bold;
  height:100px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border: 1px solid rgb(224, 221, 221);
}


.maincontainer{
  height:400px;
 
}
body{
  background-color: whitesmoke;
}

.icon-left1 {
  margin-left: 125px;
color: orange;
}

.icon-left2 {
  margin-left: 68px; 
  color: orange;
 
}

.icon-left3{
  margin-left: 89px; 
  color: orange;
}

.icon-left4{
  margin-left: 89px; 
  color: orange;
}

.icon-left5{
  margin-left: 105px; 
  color: orange;
}

.hrtag{
  width:70%;
  margin-left:20%;
  margin-top:-2%;
}

/*
.maincontainer{
  height: 450px;
  margin-top:2%;
  margin-left:20%;
  width:60%;
  border-radius: 15px;
  color:black;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(43, 43, 43, 0.7);
  z-index: 1;
}*/
.table {
  list-style: none;
  padding: -2px;
  margin-top: -10%;

}
.dashboard{
  font-size:12px ;

}
.table li {
  color: rgb(1, 1, 1);
  border-radius:22px;
  border: 2px solid rgb(57, 56, 56);
  padding:8px;
  margin-bottom: 5px;
  font-size:12px;
}

hr{
  background-color:rgb(0, 0, 0);

}




    


@media only screen and (max-width: 426px) {
  .container{
    width:90%;
    height:80%;
    margin-left:-1%;
    margin-top:-30%;
  }
  .finalheading,.subheading,.firstheading{
    font-size:small;
  }
.firstheading{
  margin-bottom:10%;
}

  .list{
    font-size:12px;
    margin-left:-12%;
    margin-bottom:3%;
  }

  body{
    background-color: rgb(212, 212, 212);
  }
  .donorIcon,.adminIcon,.hospitalIcon,.bloodBankIcon
  { padding:4px;
     width: 30%; 
     height: 15%;
      border-radius: 100%;
      margin-top:5%;
      margin-bottom:5%;
    margin-left:35%; }
    }

@media only screen and (max-width: 768px ) and (min-width: 427px) {
  .container{
    width:90%;
    margin-left:-1%;
   margin-top:-15%;
    height: 95%;
  }
  body{
    background-color: rgb(212, 212, 212);
  }

}

@media only screen and (min-width:1440px ){
  body{
    background-color: rgb(228, 228, 228);
  }
  .container{
    width:60%;
    margin-left:-1%;
   margin-top:-15%;
   height: 70%;
  }
  img{
   width:fit-content;
  }
  .finalheading,.subheading,.firstheading{
    font-size:x-large;
  }
.list{
  font-size: 25px;
}
.subheading{
  margin-left: 37%;;
}
}