*{
  font-family:Arial;
  text-decoration: none;
  border-right: none;
  border-left:none;

}

.dashboardinfo {
  font-size: 18px;
  margin-top: 20px;
  margin-left:-2%;
}

.list{
  text-decoration: none;
  color:rgb(0, 0, 0);
  padding:0px;
  margin:2%;
}

.subheading{
  justify-self: center;
  margin-top:2%;
  margin-left:27%;
  font-size:27px;
}

.finalheading{
  margin-bottom:4%;
  margin-top:-6%;
  margin-left:28%;
  font-size:20px;
}

.firstheading{
  margin-top: 12px;
  margin-left:35%;
  color:grey;
  font-size:30px;
}


body{
  background-image:url('images/background1.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #dbdbdb;
}

.maincontainer{
  height: 450px;
  margin-top:2%;
  margin-left:20%;
  width:60%;
  border-radius: 15px;
  color:black;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(43, 43, 43, 0.7);
  z-index: 1;
}
.table {
  list-style: none;
  padding: -2px;
  margin-top: -10%;

}
.dashboard{
  font-size:12px ;

}
.table li {
  color: rgb(1, 1, 1);
  border-radius:22px;
  border: 2px solid rgb(57, 56, 56);
  padding:8px;
  margin-bottom: 5px;
  font-size:12px;
}

hr{
  background-color:rgb(0, 0, 0);
  margin-bottom:10%;
}

.donorIcon,.adminIcon,.hospitalIcon,.bloodBankIcon
{ padding:20px;
   width: 15%; 
   height: 15%;
   margin-left: 80%;
   margin-top:-10%;
    border-radius: 100%; }

.donorIcon
    { background-image: linear-gradient(to bottom, #ff9900,#ff4107); }

.adminIcon
    { background-image: linear-gradient(to bottom,#b2bfc5, #685e5c); }

.hospitalIcon
    { background-image: linear-gradient(to bottom, #aef9da,#00b6b6); }

.bloodBankIcon
    { background-image: linear-gradient(to bottom, #fb5b5b,#e8000c)
    }

@media only screen and (max-width: 426px) {
  .container{
    width:90%;
    height:80%;
    margin-left:-1%;
    margin-top:-30%;
  }
  .finalheading,.subheading,.firstheading{
    font-size:small;
  }
.firstheading{
  margin-bottom:10%;
}

  .list{
    font-size:12px;
    margin-left:-12%;
    margin-bottom:3%;
  }

  body{
    background-color: rgb(212, 212, 212);
  }
  .donorIcon,.adminIcon,.hospitalIcon,.bloodBankIcon
  { padding:4px;
     width: 30%; 
     height: 15%;
      border-radius: 100%;
      margin-top:5%;
      margin-bottom:5%;
    margin-left:35%; }
    }

@media only screen and (max-width: 768px ) and (min-width: 427px) {
  .container{
    width:90%;
    margin-left:-1%;
   margin-top:-15%;
    height: 95%;
  }
  body{
    background-color: rgb(212, 212, 212);
  }

}

@media only screen and (min-width:1440px ){
  body{
    background-color: rgb(228, 228, 228);
  }
  .container{
    width:60%;
    margin-left:-1%;
   margin-top:-15%;
   height: 70%;
  }
  img{
   width:fit-content;
  }
  .finalheading,.subheading,.firstheading{
    font-size:x-large;
  }
.list{
  font-size: 25px;
}
.subheading{
  margin-left: 37%;;
}
}