
.box{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(43, 43, 43, 0.7);
    width:50%;
    height: 300px;
    color:black;
    font-family:Arial;
    border: 3px solid rgb(0, 0, 0);
    border-radius:5px;
    margin-left:25%;
    margin-top:5%;
  }

  .space{
    margin-top:5%;
  }

  .heading{
    font-size:large;
    margin-left:40%;
    font-family:Arial;
    color:black;
    text-decoration: none;
    font-weight:lighter;
  }
  .paragraph{
   margin-left:33%;
  margin-top:-4%;
  }

  .minibox{
    margin-left:43%;
    margin-top:5%;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius:25px;
    height:40px;
    width: 90px;
    padding:7px;
  }

.hrtag{
  border: 1px solid rgb(0, 0, 0);
}

  @media only screen and (max-width: 426px) {
    .paragraph{
        margin-left:10%;
       margin-top:-4%;
       font-size:12px;
       }
       .minibox{
        margin-left:30%;
        font-size:12px;
        width:80px;
        margin-top:2%;
        padding:8px;
      }
}
  