body {
  margin: 0;
  background-color:rgb(175, 13, 13);
}



.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    margin:0;
    background-color:whitesmoke;
    padding: 0%;
  }
  .formNav{
    display: flex;
    flex-direction: row;
  }
  .formBtn{
    width: 200px;
  }
  .LeftSection {
    
    /*background-image: url('../images/homeImage.webp');
    background-size: cover;
    background-position: center;*/
    display: flex;
    flex:1;
    flex-direction: column;
    background-color: rgb(67, 127, 177);
    margin:0;
    width:100%;
    
  }


  .RightSection{
    display: flex;
    justify-content: center; /* Horizontally centering */
    align-items: center;
    flex-direction: column;
    flex: 2;
    
  }


  .IconSection{
    width:330px;
    padding: 2%; 
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin:3%;
    background-color: whitesmoke;
    opacity: 0;
    height: auto;
    /*overflow: hidden;*/
    transform: translateY(-20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .IconBorder{
   
    padding:2%;
    border: 1.9px solid rgb(128, 132, 141);
    border-radius: 10px;
    height:100%;
    width:100%;
    background-color: whitesmoke;

  }

  .SelectedUser{
    padding-top:1%;
    margin-bottom: 0;
    border-style:dotted;
    border-top:0;
    border-left: 0;
    border-right: 0;

  }

  .IconBtn{
   
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
    width:94%;
    background-color: transparent;
    border: 1.5px solid rgb(47, 57, 79);
    border-left: none;
    border-right: none;
    border-top: none;
    margin:1%;
    padding-bottom:3%;
    padding-top:2.5%;
  }
  .IconBtn:nth-child(1) {
    transition-delay: 0.1s;
  }
  
  .IconBtn:nth-child(2) {
    transition-delay: 0.2s;
  }
  
  .IconBtn:nth-child(3) {
    transition-delay: 0.3s;
  }

  .IconBtn:nth-child(4) {
    transition-delay: 0.4s;
  
   
  }
  .firstButton{
    padding-top:2%;
    
  }

  .lastButton{
    border-bottom: none;
  }

  .IconBtn.visible {
    opacity: 1;
    transform: translateY(0);
  }

  
 .IconSection.visible {
    opacity: 1;
    transform: translateY(0);

  
  }

 