* {
  font-family: Arial;
  text-decoration: none;
  border-right: none;
  border-left: none;
  border: none ;
  background-color: transparent;
}

.link{
  padding:0 0px ;
  background-color:none ;
  font:12px;
  color:rgb(255, 255, 255) ;
  text-decoration: none ;
  font-size: 12px;
}

.lists {
  text-decoration: none ;
  color: rgb(5, 5, 5);
  padding: 8px;
}

.link:hover {
  text-decoration: none ;
  background-color: transparent;
  color: rgb(205, 196, 196);
}

.navhr{
  color: rgb(255, 255, 255);
  
}

.subnav{
  color:white;
  font-size:12px;
  margin-left:15px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  transition: transform 0.3s ease;
  z-index: 2;

}

.sidebar-toggle {
  transition: transform 0.3s ease;
 font-size:xx-large;
 margin-left:1%;
 margin-top:1%;

}

.sidebar-toggle:hover{
  background-color:rgb(192, 186, 186) ;
  border-radius:10%;
}

.sidebar-toggle.active {
  transform: translateX(200px); 
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background-color: #000000;
  transition: transform 0.3s ease;
  transform: translateX(-200px); 
}

.sidebar.active {
  transform: translateX(0); 
}

.myac{
  color:white;
  font-size:23px;
  margin-top:10%;
  margin-left: -12px;
}